<!-- <div class="row">
    <div class="col-md-6">
        <div class="card card-stylev">
            <nextdev-comp-line-chart></nextdev-comp-line-chart>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-style">
            <nextdev-comp-line-chart></nextdev-comp-line-chart>
        </div>
    </div> -->
    <!-- <nextdev-comp-line-chart></nextdev-comp-line-chart> -->
<!-- </div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-style">
            <nextdev-comp-line-chart></nextdev-comp-line-chart>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-style">
            <nextdev-comp-line-chart></nextdev-comp-line-chart>
        </div>
    </div> -->
    <!-- <nextdev-comp-line-chart></nextdev-comp-line-chart> -->
<!-- </div> -->