<div class="row">
    <div class="col-md-6">
        <div class="card card-style">
          <span class="card-title" >
            <h5>Deployment Health</h5>
        </span>
        <p-chart type="bar" [data]="buildHealth"></p-chart>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-style">
          <span class="card-title">
                <h5>Release Health</h5>
          </span>
          <p-chart type="bar" [data]="dataCodeCoverage"></p-chart>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="card card-style">
            <span class="card-title" >
                <h5>Feature Progress</h5>
            </span>
            <p-chart type="bar" [data]="buildHealth"></p-chart>
            <!-- <p-growl [value]="msgs"></p-growl>
            <p-chart type="line" [data]="vulnerabilityReport" (onDataSelect)="selectData($event)"></p-chart> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-style">
          <span class="card-title">
            <h5>Time to Market</h5>
        </span>
        <p-chart type="bar" [data]="buildHealth"></p-chart>
        </div>
    </div>
  </div>