<router-outlet></router-outlet>

<div class="container">
    <hr class="separatorLine">

    <div class="row">
        <div class="col-xl-3" style="padding-top: 5px;">
            <div class="card">
                <div class="card-body">

                    <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>


                </div>

            </div>
        </div>

        <div class="col-xl-9" style="padding-top: 5px;">
            <div class="card bgColor">
                <!-- <div class="card-body">
                    <img class="images-item" src="assets/img/complete.png">
                </div> -->
                <div class="card-body">
                    <ngb-tabset type="pills" class="monitor-pills">
                        <ngb-tab title="Source Control">
                            <ng-template ngbTabContent >
                                <span *ngIf="envflag">
                                    <nextdev-comp-src-control></nextdev-comp-src-control>
                                </span>
                                <span *ngIf="projectflag">
                                    <nextdev-comp-monitor-project-source-control-charts></nextdev-comp-monitor-project-source-control-charts>
                                </span>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Build">
                            <ng-template ngbTabContent>
                                <span *ngIf="envflag">
                                    <nextdev-comp-build></nextdev-comp-build>
                                </span>
                                <span *ngIf="projectflag">
                                    <nextdev-comp-monitor-project-build-charts></nextdev-comp-monitor-project-build-charts>
                                </span>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Deployment">
                            <ng-template ngbTabContent>
                                <span *ngIf="envflag">
                                    <nextdev-comp-deployment></nextdev-comp-deployment>
                                </span>
                                <span *ngIf="projectflag">
                                    <nextdev-comp-monitor-project-deployment-charts></nextdev-comp-monitor-project-deployment-charts>
                                </span>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Operations">
                        <ng-template ngbTabContent>
                            <nextdev-comp-operations></nextdev-comp-operations>
                        </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>



</div>
